<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<br>
<h3><b>Details album</b></h3>
<br>
<div>
    <h4><b>Auteur : </b><f:link.action pageUid="tx_galerie_auteurs" action="show" controller="Auteur" arguments="{auteur : album.auteur}">{album.auteur.firstname} {album.auteur.lastname}</f:link.action></h4>
</div>
<div><p><h4><b>Description : </b>{album.description -> f:format.htmlentitiesDecode(encoding: 'UTF-8')}</h4></div>
</p></div>
<div>
    <h4><p><b>Date de création : </b>{album.publicationDate -> f:format.date()}</p></h4>
</div>
<br>
<p>
  Categories:
  <f:for each="{album.categories}" as="category" iteration="tagIterator">
    <f:link.action pageUid="tx_galerie_categories" controller="Category" action="show" arguments="{category : category}">
      {category.name}
    </f:link.action>
    <f:if condition="!{tagIterator.isLast}">;</f:if>
  </f:for>
<p>
<p>
  Tags:
  <f:for each="{album.tags}" as="tag" iteration="tagIterator">
    <f:link.action pageUid="tx_galerie_tags" controller="Tag" action="show" arguments="{tag : tag}">
      {tag.name}
    </f:link.action>
    <f:if condition="!{tagIterator.isLast}">;</f:if>
  </f:for>
<p>
<br>
</html>
