<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

  <table class="tx_galeriegbtlabsgjvjfavtr table table-striped table-hover" >
    <tr>
      <th><f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_album.name" /></th>
      <th><f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_album.publication_date" /></th>
      <th> </th>
    </tr>

    <f:for each="{albums}" as="album">
      <tr>
        <td><f:link.action action="show" arguments="{album : album}"> {album.name}</f:link.action></td>
        <td>{album.publicationDate -> f:format.date()}</td>
        <td>
          <f:link.action action="edit" arguments="{album : album}" class="btn btn-primary btn-sm" style="margin: 0 0.5rem;">Edit</f:link.action>
          <f:link.action action="delete" arguments="{album : album}" class="btn btn-danger btn-sm" style="margin: 0 0.5rem;">Delete</f:link.action>
        </td>
      </tr>
    </f:for>
  </table>
</html>
