<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Album "{album.name}"</h1>

		<f:flashMessages />
		<f:render partial="Album/Properties" arguments="{album:album}" />

		<h2>Images</h2>
		<f:widget.paginate objects="{album.images}" as="paginatedImages" configuration="{settings.pagination}">
			<f:render partial="Image/Grid" arguments="{images:paginatedImages}" />
		</f:widget.paginate>

		<f:link.action action="list" class="btn btn-sm btn-primary">Retour liste d'Albums</f:link.action><br />
	</f:section>
</html>
