<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_image.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="width">
	<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_image.width" />
</label><br />
	<f:form.textfield property="width" /><br />
<label for="height">
	<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_image.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="file">
	<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_image.file" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="place">
	<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_image.place" />
</label><br />
	<f:form.textfield property="place" /><br />
<label for="shootDateTime">
	<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_image.shoot_date_time" />
</label><br />
	<f:form.textfield property="shootDateTime" value="{image.shootDateTime->f:format.date()}" /><br />
<label for="publicationDate">
	<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_image.publication_date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="publicationDate" value="{image.publicationDate->f:format.date()}" /><br />
</html>