<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-galerie-gbtlabsgjvjfavtr table table-striped table-hover">
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.lastname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.firstname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.job" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.address" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.phone_number" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.website" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.biography" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>
