<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-galerie-gbtlabsgjvjfavtr" >
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.lastname" />
		</td>
		<td>
			{auteur.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.firstname" />
		</td>
		<td>
			{auteur.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.job" />
		</td>
		<td>
			{auteur.job}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.address" />
		</td>
		<td>
			{auteur.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.email" />
		</td>
		<td>
			<a href="mailto:{auteur.email}">{auteur.email}</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.phone_number" />
		</td>
		<td>
			<a href="tel:{auteur.phoneNumber}">{auteur.phoneNumber}</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.website" />
		</td>
		<td>
			<a href="{auteur.website}">{auteur.website}</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galeriegbtlabsgjvjfavtr_domain_model_auteur.biography" />
		</td>
		<td>
			<f:format.stripTags>{auteur.biography}</f:format.stripTags>
		</td>
	</tr>
</table>
</html>