<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <div class="row">
    <f:for each="{categories}" as="category">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            {category.name}
          </div>
          <div class="panel-body">
            <p>
              <f:format.stripTags>{category.description}</f:format.stripTags>
            </p>

            <p class="text-right">
              <f:link.action pageUid="tx_galerie_categories" action="show" arguments="{category : category}">See details</f:link.action>
            </p>
          </div>
        </div>
      </div>
    </f:for>
  </div>
</html>
